{% extends "League_App/base.html" %}

{% block content %}

    <h1>{{ league.league_name }}</h1>

    <h3>All League Teams</h3>

    <ul>
        {% for team in all_teams %}
            <li>
                <a href="{% url 'League_App:team' team.id %}">{{ team.team_name }}</a>
            </li>
        {% empty %}
            <li> No teams have been added yet.</li>
        {% endfor %}
    </ul>

    <h3>All League Players</h3>

        <ul>
        {% for player in all_players %}
            <li>
                <a href="{% url 'League_App:player' player.id %}">{{ player.full_name }}</a>
            </li>
        {% empty %}
            <li> No players have been added yet.</li>
        {% endfor %}
    </ul>


{%  endblock content %}