{% extends "League_App/base.html" %}

{% block content %}

    <h1>{{ league_name }}</h1>

    <p>All League Teams</p>

    <ul>
        {% for team in all_teams %}
            <li>
                <a href="{% url 'League_App:team' team.id %}">{{ team.team_name }}</a>
            </li>
        {% empty %}
            <li> No teams have been added yet.</li>
        {% endfor %}
    </ul>

    <p>All League Players</p>

        <ul>
        {% for player in all_players %}
            <li>
                <a href="{% url 'League_App:player' player.id %}">{{ player.full_name }}</a>
            </li>
        {% empty %}
            <li> No players have been added yet.</li>
        {% endfor %}
    </ul>


{%  endblock content %}