{% extends "League_App/base.html" %}

{% block content %}

    <h1>{{ team.team_name }} - {{ team.league.league_name }}</h1>

    <h3>Record</h3>
    <ul>
        <li>Wins: {{ team.wins }}</li>
        <li>Losses: {{ team.losses }}</li>
        <li>Games Played: {{ team.games_played }}</li>
    </ul>

    <h3>All Team Players</h3>
    <ul>
        {% for player in team_players %}
            <li>
                <a href="{% url 'League_App:player' player.id %}">{{ player.full_name }}</a>
            </li>
        {% empty %}
            <li> No players have been added yet.</li>
        {% endfor %}
    </ul>
    <hr/>
    <a href="{% url 'League_App:new_player' team.id%}">Add new player</a>
{%  endblock content %}